OCR/Handwrittern-Recognition/by_class/
OCR/Handwrittern-Recognition/by_merge/
OCR/Handwrittern-Recognition/class_data/
OCR/Handwrittern-Recognition/data/
OCR/Handwrittern-Recognition/final_data/
OCR/Handwrittern-Recognition/log/
OCR/Handwrittern-Recognition/models
OCR/Pdf-Automation/output/
Prospective-Client/*.csv
OCR/


